@model WebApplication4.ViewModels.IndexViewModel
@{
    var CategoryMap = new Dictionary<int, string>();
    foreach (var item in Model.Context.Categories)
    {
        CategoryMap.Add(item.Id, item.Name);
    }
}
<div class="flex-container">
    <div class="flex-item">
        <h1>To Do List</h1>
        <div class="todos">
            <ul>
                @foreach (var item in Model.Context.ToDoTasks)
                {

                    <li>
                        <p class="description">@item.Description</p>
                        <p class="categories">@CategoryMap[item.CategoryId]</p>
                        <p>
                            @{
                                if (item.Deadline != DateTime.MinValue)
                                    @item.Deadline.ToShortDateString()
                                ;
                            }
                        </p>
                        <form asp-action="Complete" method="post">
                            <input type="hidden" asp-for="IsCompleteTaskViewModel.Id" value="@item.Id" />
                            <input type="hidden" asp-for="IsCompleteTaskViewModel.IsComplete" value="@item.IsComplete" />
                            @if (item.IsComplete)
                            {
                                <button class="Complete"></button>
                            }
                            else
                            {
                                <button class="UnComplete"></button>
                            }
                            
                        </form>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="IdTaskViewModel.Id" value="@item.Id" />
                            <button class="delete">&#10008;</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
        <form asp-action="Create" method="post">
            <div class="enterTODO">
                <label>
                    @*<input asp-for="AddTaskViewModel.Description" type="text" placeholder="Write new TODO" />*@
                    @Html.TextBoxFor(m=>m.AddTaskViewModel.Description,new{placeholder="Write new TODO"})
                </label>
                <label>
                    @Html.DropDownListFor(m=>m.AddTaskViewModel.CategoryId,@Model.CategoriesList,"Category")
                </label>
                <label>
                    <input asp-for="AddTaskViewModel.Deadline" type="date">
                </label>
                <label>
                    <button type="submit">Add</button>
                </label>
            </div>
        </form>
    </div>
</div>